In [2]:
import kagglehub

path = kagglehub.dataset_download("ashirwadsangwan/imdb-dataset")
print("Path to dataset files:", path)

C:\Users\dilip\AppData\Roaming\Python\Python312\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Path to dataset files: C:\Users\dilip\.cache\kagglehub\datasets\ashirwadsangwan\imdb-dataset\versions\865

In [ ]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.3.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.3.5-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dilip\appdata\roaming\python\python312\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.3-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\dilip\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.3-cp312-cp312-win_amd64.whl (11.0 MB)
   ---------------------------------------- 0.0/11.0 MB ? eta -:--:--
    --------------------------------------- 0.3/11.0 MB ? eta -:--:--
   ---- ----------------------------------- 1.3/11.0 MB 5.6 MB/s eta 0:00:02
   ---------- ----------------------------- 2.9/11.0 MB 6.2 MB/s eta 0:00:02
   ------------- -------------------------- 3.7/11.0 MB 5.7 MB/s eta 0:00:02
   ------------------ --------------------- 5.0/11.0 MB 5.6 MB/s eta 0:00:02
   --------------------- ------------------ 6.0/11.0 MB 5.3 MB/s eta 0:00:01
   -------------------------- ------------- 7.3/11.0 MB 5.6 MB/s eta 0:00:01
   -------------------------------- ------- 8.9/11.0 MB 5.8 MB/s eta 0:00:01
   ---------------------------------------  10.7/11.0 MB 6.2 MB/s eta 0:00:01
   ---------------------------------------- 11.0/11.0 MB 5.8 MB/s eta 0:00:00
Downloading numpy-2.3.5-cp312-cp312-win_amd64.whl (12.8 MB)
   ---------------------------------------- 0.0/12.8 MB ? eta -:--:--
   ----- ---------------------------------- 1.8/12.8 MB 9.1 MB/s eta 0:00:02
   ---------- ----------------------------- 3.4/12.8 MB 8.4 MB/s eta 0:00:02
   --------------- ------------------------ 5.0/12.8 MB 7.9 MB/s eta 0:00:01
   -------------------- ------------------- 6.6/12.8 MB 7.9 MB/s eta 0:00:01
   ------------------------ --------------- 7.9/12.8 MB 8.0 MB/s eta 0:00:01
   ------------------------------ --------- 9.7/12.8 MB 8.1 MB/s eta 0:00:01
   ------------------------------------ --- 11.5/12.8 MB 7.8 MB/s eta 0:00:01
   ---------------------------------------  12.6/12.8 MB 7.7 MB/s eta 0:00:01
   ---------------------------------------- 12.8/12.8 MB 7.4 MB/s eta 0:00:00
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.3-py2.py3-none-any.whl (348 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.3.5 pandas-2.3.3 pytz-2025.2 tzdata-2025.3

[notice] A new release of pip is available: 24.3.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import os
os.listdir(path)

import pandas as pd

basics = pd.read_csv(
    path + "/title.basics.tsv",
    sep="\t",
    na_values="\\N"
)

ratings = pd.read_csv(
    path + "/title.ratings.tsv",
    sep="\t",
    na_values="\\N"
)

basics.head(), ratings.head()

C:\Users\dilip\AppData\Local\Temp\ipykernel_4372\128757478.py:6: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  basics = pd.read_csv(

(      tconst titleType            primaryTitle           originalTitle  \
 0  tt0000001     short              Carmencita              Carmencita
 1  tt0000002     short  Le clown et ses chiens  Le clown et ses chiens
 2  tt0000003     short            Poor Pierrot          Pauvre Pierrot
 3  tt0000004     short             Un bon bock             Un bon bock
 4  tt0000005     short        Blacksmith Scene        Blacksmith Scene

    isAdult  startYear  endYear runtimeMinutes                    genres
 0        0     1894.0      NaN            1.0         Documentary,Short
 1        0     1892.0      NaN            5.0           Animation,Short
 2        0     1892.0      NaN            5.0  Animation,Comedy,Romance
 3        0     1892.0      NaN           12.0           Animation,Short
 4        0     1893.0      NaN            1.0                     Short  ,
       tconst  averageRating  numVotes
 0  tt0000001            5.7      2188
 1  tt0000002            5.5       307
 2  tt0000003            6.4      2274
 3  tt0000004            5.1       197
 4  tt0000005            6.2      3012)

In [7]:
df = pd.merge(basics, ratings, on="tconst")
df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,tt0000001,short,Carmencita,Carmencita,0,1894.0,NaN,1.0,"Documentary,Short",5.7,2188
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892.0,NaN,5.0,"Animation,Short",5.5,307
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0,1892.0,NaN,5.0,"Animation,Comedy,Romance",6.4,2274
3,tt0000004,short,Un bon bock,Un bon bock,0,1892.0,NaN,12.0,"Animation,Short",5.1,197
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893.0,NaN,1.0,Short,6.2,3012

In [9]:
df = df[df["titleType"] == "movie"]
df.shape
df["titleType"].value_counts()

titleType
movie    336125
Name: count, dtype: int64

In [10]:
df = df.dropna(subset=["startYear", "runtimeMinutes", "averageRating"])

df["startYear"] = df["startYear"].astype(int)
df["runtimeMinutes"] = df["runtimeMinutes"].astype(int)
df["averageRating"] = df["averageRating"].astype(float)
df["numVotes"] = df["numVotes"].astype(int)

df.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,NaN,45,Romance,5.2,231
144,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,NaN,100,"Documentary,News,Sport",5.3,578
285,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,NaN,40,"Biography,Drama",5.5,64
383,tt0000502,movie,Bohemios,Bohemios,0,1905,NaN,100,NaN,3.1,25
420,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,NaN,70,"Action,Adventure,Biography",6.0,1039